### Général ###
.DS_Store
*.log
.idea/
.vscode/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.env
.env.local
.env*.local

### Backend (Node.js) ###
back/node_modules/
back/dist/
back/coverage/
back/.env
back/.env.test
back/.env.production
back/.npm
back/.yarn
back/.pnp

### Frontend (Next.js) ###
front/.next/
front/out/
front/.env
front/.env.local
front/.env.development
front/.env.production
front/.env.test
front/.vercel
front/.cache
front/.turbo
front/node_modules/
front/.svelte-kit
front/package-lock.json
front/yarn.lock
front/pnpm-lock.yaml
front/**

# Fichiers générés
front/.next
front/next-env.d.ts
front/tsconfig.tsbuildinfo
